@import "base/base.scss";
@import "base/min.scss";
.left{
  width:188px;
  position: absolute;
  background:$whiteColor;
  color: $subTitleColor;
  z-index: 998;
  left: 0;
  top:60px;
  overflow: auto;

}
.right{
  margin-left:204px;
  //background: #fff;
  top:16px;
  margin-right: 16px;
  position: relative;
}
.maincontent{
  width: 100%;
  margin-top:65px;
  background:$bg;
}
